/* CSS Rules 

	selector {
		property: value;
	}
*/

/*Type Selector*/

/*!important to prioritize the rule*/
h1 {
	color: darkorange !important;
}

/*Universal Selectior*/
*{
	font-family: "courier new", monospace;
	font-size: : 20px;
}

/*ID Selector*/
/* #id-name */
#motto {
	letter-spacing: 5px;
}

/*Class Selector*/
/* .class-name */
.offering-item {
	text-transform: uppercase;
}

/*Attribute Selector*/
/* tagname[attribute] */
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	/*Shorthand: border: width, style,color */
/*	border: 2px solid nave;*/
}

/*Adjacent Sibling Selector*/
/*sibling _element + target_element*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector*/

/* Ancestor_element (space) Descendant_element */
#bootcamp-learning-list li {
	color: #3cbbb1;
}

/*General Sibling Selector*/
/*sibling_element ~ target_element*/

h2 ~ a {
	text-decoration: none;

}

/*Child Selector*/
/*parent_element > child_element */
body > section > form > label {
	color: lightblue;
}